/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.list-group-item span{
    cursor:pointer;
}
.completed{
    text-decoration:line-through
}
.btn:hover i.fa-circle-plus {
    color: green;
}
.fa-trash-can:hover {
    color: red;
}
.custom-dropdown {
    border: 1px solid #ccc;
    width: 200px;
    position: relative;
  }
  
  .selected-value, .dropdown-option {
    padding: 10px;
    cursor: pointer;
  }
  
  .options-container {
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 100;
  }
  
  .urgency-indicator {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  .custom-dropdown {
    width: 5px; 
    min-width: 5px; 
  }
  
  .input-group .form-select {
    text-align: end; 
  }
  

  .input-group > .custom-dropdown {
    margin-left: auto;
  }
  .display-6.fw-bold {
    font-family: 'Roboto', sans-serif; 
    font-size: 2.5rem; 
    color: #343a40; 
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   
    -webkit-background-clip: text;
    
    margin-bottom: 20px; 
    
  }
  
  @media (max-width: 768px) {
    .display-6.fw-bold {
      font-size: 2rem; 
    }
  }
