<div class="card shadow-lg mt-5">
    <div class="card-header text-center py-4 border-0">
        <!-- Dynamic title -->
        <h1 class="display-6 fw-bold">{{ listTitle }}</h1>
    </div>
    <div class="card-body p-4">
        <ul class="list-group">
            <li class="list-group-item mb-2 border py-0 rounded-2">
                <div class="input-group">
                    <input type="text" class="form-control border-0 py-2 shadow-none" placeholder="Add task here"
                        #taskInput>
                    <!-- Urgency Dropdown -->
                    <div class="ms-auto centered-dropdown" style="width: 15%; min-width: 70px;">
                        <select class="form-select  border-0" title="Urgency" #urgencySelect>
                            <option value="🟢" title="Low">🟢</option>
                            <option value="🟡" selected title="Medium">🟡</option>
                            <option value="🔴" title="High">🔴</option>
                        </select>
                    </div>
                    <!-- Add Button -->
                    <button class="btn" title="Add Task" (click)="onClick(taskInput, urgencySelect.value)">
                        <i class="float-end fa-solid fa-circle-plus fa-xl"></i>
                    </button>
                </div>


            </li>
            <!-- List of tasks -->
            <li class="list-group-item mb-1 border py-2 rounded-3" *ngFor="let item of todos"
    [ngClass]="{ 'completed': item.isDone }">
    <span>
        <i class="text-success" (click)="onStatusChange(item.id, !item.isDone)">
            <i [ngClass]="item.isDone ? 'fa-solid fa-circle-check' : 'fa-regular fa-circle'"></i>
        </i>
        <span [ngClass]="{ 'completed-text': item.isDone }"><span>&nbsp;</span>{{item.title }}</span>
        <!-- Urgency Indicator -->
        
            <span class="float-sm-end text-secondary" (click)="onDelete(item.id)">
            <i class="fa-solid fa-trash-can" title="Delete"></i>&nbsp;
            
        </span>
        
        <span class="float-sm-end text-secondary">{{ item.urgency }} &nbsp;</span>
    </span>
</li>




        </ul>
    </div>
</div>
